  body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
  }

  body.light-mode {
    background-color: #f8f8f8;
    color: #333;
  }
  
  body.dark-mode {
    background-color: #333;
    color: #f8f8f8;
  }  
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  li:hover {
    background-color: #f0f0f0;
  }
  
  .theme-toggle {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #toggle-btn {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #toggle-btn:hover {
    background-color: #555;
  }
  
  .completed {
    text-decoration: line-through;
    color: #888;
  }
  