.app {
  padding: 30px;
  background-color: #f8f9fa;
  /* Cor de fundo alternativa */
}

.titulo-app {
  color: black;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 40px;
}

/* Estilo para o formulário e botão */
.formulario-tarefa {
  display: flex;
  align-items: flex-start;
  /* Alinhar os itens ao topo */
}

.card {
  margin-bottom: 10px;
  /* Adiciona espaçamento externo na parte inferior */
}

.tarefa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  background-color: #f8f9fa;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.tarefa-concluida {
  text-decoration: line-through;
  opacity: 0.5;
}

.tarefa button {
  background: none;
  border: none;
  cursor: pointer;
}

.tarefas-lista {
  list-style-type: none;
  padding: 0;
}

.tarefa-enter {
  opacity: 0;
}

.tarefa-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.tarefa-exit {
  opacity: 1;
}

.tarefa-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* Espaçamento entre o formulário e a lista de tarefas */
.app .mt-4 {
  margin-top: 20px;
}

/* Estilos para os indicadores de prioridade */
.badge {
  margin-right: 5px;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 3px;
}

.bg-blue {
  background-color: blue;
  /* Adicione outras propriedades de estilo conforme necessário */
}

.bg-danger {
  background-color: #dc3545;
  /* Vermelho para prioridade alta e imediata*/
  color: white;
}

.bg-warning {
  background-color: #ffc107;
  /* Amarelo para prioridade média */
  color: white;
}

/* Animação para piscar em vermelho */
@keyframes blink-red {

  0%,
  100% {
    background-color: red;
    color: black;
    /* Manter o texto em outra cor */
  }

  50% {
    background-color: #f8f9fa;
    /* Voltar para a cor original de fundo */
    color: black;
    /* Manter o texto em outra cor */
  }
}

/* Aplicar animação para prioridade "imediata" */
.tarefa-imediata {
  animation: blink-red 1s infinite;
}

/* Estilos para telas pequenas (celulares) */
@media (max-width: 576px) {
  .titulo-app {
    font-size: 1.5rem;
    /* Reduz o tamanho da fonte do título */
    margin-bottom: 20px;
    /* Adiciona espaço abaixo do título */
  }
}

/* Estilos para telas médias e grandes (tablets, desktops) */
@media (min-width: 576px) {
  .titulo-app {
    font-size: 2rem;
    /* Tamanho de fonte padrão para telas maiores */
  }
}

/* Estilo personalizado para o select */
.custom-select {
  background-color: #f8f9fa; /* Cor de fundo */
  color: #495057; /* Cor do texto */
  border: 1px solid #ced4da; /* Borda */
  border-radius: 20px; /* Borda arredondada */
  padding: 0.375rem 2.25rem 0.375rem 0.75rem; /* Espaçamento interno */
  font-size: 1rem; /* Tamanho da fonte */
  line-height: 1.5; /* Altura da linha */
  appearance: none; /* Remove a seta do select */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 8px 10px;
}
